<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Find me</title>
</head>
<body>
<div>
    <h1> Add new user </h1>
</div>


<form action="/users/newUser" method="post">
    <input name="firstName" type="text" placeholder="firstName">
    <input name="lastName" type="text" placeholder="lastName">
    <input name="phone" type="text" placeholder="phone">
    <input name="country" type="text" placeholder="country">
    <input name="city" type="text" placeholder="city">

    <input name="age" type="text" placeholder="age">
    <input name="relationshipStatus" type="text" placeholder="relationshipStatus">
    <input name="religion" type="text" placeholder="religion">
    <input name="school" type="d" placeholder="school">
    <input name="university" type="d" placeholder="university">


    <input type="submit">

</form>
</body>
</html>